#carousel-slider {
	height: 600px;
	background: var(--primary-color);
	display: flex;
	position: relative;
}

.carousel-arrow {
	color: #fff !important;
	font-size: 2em !important;
	transition: 0.5s;
}

.carousel-arrow:hover {
	transform: scale(1.25);
	cursor: pointer;
}