*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   --primary-color: #05386b;
   --primary-color-shade1: #446084;
   --secondary-color: #5cdb99;
   --secondary-color-shade1: #379683;
   --gray-color: #777;
   --text-color: #111;
}

html,
body,
#root,
#page {
   position: relative;
   min-height: 100vh;
}

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   font-size: 16px;
   color: var(--primary-color);
}

a {
   color: var(--secondary-color) !important;
}

#page {
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow: hidden;
}

.section-title {
   text-align: center;
   align-items: center;
   text-transform: uppercase;
}

.section-title h2 {
   border: 2px solid Var(--secondary-color);
   font-weight: 600;
}

.section-title b {
   height: 2px;
   background: var(--secondary-color);
}

.btn-primary {
   color: #fff;
   background: var(--secondary-color);
   border-color: var(--secondary-color);
}

.btn-primary:hover,
.btn-primary:active {
   background: var(--secondary-color-shade1) !important;
   border-color: var(--secondary-color-shade1) !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
   box-shadow: 0 0 0 0.2rem rgba(92, 219, 153, 0.25) !important;
   -webkit-box-shadow: 0 0 0 0.2rem rgba(92, 219, 153, 0.25) !important;
   border: 1px solid var(--secondary-color) !important;
}

hr {
   border: none;
   height: 1px;
   opacity: 0.75;
   background: var(--secondary-color);
}

.main-section {
   position: relative;
   min-height: 60vh;
}
