.nav-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 4px;
}

.nav-item::before {
	position: absolute;
	top: -3px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 0);
	content: ' ';
	width: 0%;
	height: 3px;
	background: var(--secondary-color);
	transition: 0.25s;
	display: flex;
	justify-content: center;
}

.nav-item:hover::before {
	width: 80%;
}

.nav-link {
	color: var(--primary-color) !important;
	font-size: 0.9em;
	font-weight: 600;
	transition: 0.25s;
	text-transform: uppercase;
	text-align: center;
}

.active-nav, .nav-link:hover {
	color: var(--secondary-color) !important;
}

.nav-seperator {
	width: 1px;
	background: var(--secondary-color);
	opacity: 0.8;
}

@media (max-width: 767.98px) {
   .navbar-collapse {
      padding-top: 16px;
   }

	.nav-item:hover::before {
		width: 0%;
	}
}