.shopping-card-img {
	width: 80px;
	height: 80px;
}

.shopping-cart-remove-icon {
	color: var(--secondary-color);
	transition: 0.25s;
}

.shopping-cart-remove-icon:hover {
	cursor: pointer;
	transform: scale(1.25);
}